/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #fdf8f5; /* Soft krem */
    color: #3f3f3f;
}

/* Button */
button {
    padding: 14px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    background-color: #d9bfa6; /* Soft kahve */
    color: #2f2f2f;
}

/* Links */
a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    background-color: #ffece2; /* Soft pastel turuncu */
}

header h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    color: #b67d5c; /* Pastel kahve */
    margin-bottom: 10px;
}

header p {
    font-family: "Roboto", sans-serif;
    font-size: 1.2rem;
    color: #a09a8f; /* Soft gri kahve */
    margin-bottom: 15px;
}

/* Nav */
nav ul {
    display: flex;
    justify-content: center;
    background-color: #e6d4c3; /* Soft pastel ton */
}

nav ul li a {
    display: block;
    padding: 18px 28px;
    font-weight: bold;
    font-size: 1.1rem;
    color: #5a4a3c; /* Soft kahverengi */
}

/* Main */
main {
    display: flex;
    max-width: 1280px;
    margin: 20px auto;
    gap: 25px;
}

/* Gönderi Bölümü */
section {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Kartlar */
.card {
    background-color: #fff5f0; /* Soft pastel pembe-bej */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    display: flex;
    flex-direction: column;
    align-items: center; /* Ortala */
    text-align: center;
}

.card img {
    max-height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.card h2 {
    font-size: 1.8rem;
    margin-bottom: 8px;
}

/* Yan Bölüm */
aside {
    flex: 1;
    padding: 15px;
    background-color: #f9f4f1; /* Soft ton */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Fotoğraf Galerisi */
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin-top: 20px;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

/* Footer */
footer {
    background-color: #d9bfa6; /* Soft kahve */
    color: #3f3f3f;
    text-align: center;
    padding: 20px 0;
    margin-top: 30px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}
